* {
    box-sizing: border-box;
}

.column{
    float: left;
    width: 50%;
    padding: 10px;
    height: 2000px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.img1{
    border-radius: 50%;
    margin: 10px auto auto 205px;
}

.responsive{
    width: 100%;
    height: auto;
}

.text{
    color: white;
    font-family: "segoe ui";
    font-size: 35px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 15px;  
}

.text1{
    color: white;
    font-family: "segoe ui";
    font-size: 35px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 55px;  
}

.text2{
    color: white;
    font-family: "segoe ui";
    font-size: 25px;
    margin-bottom: auto;
    margin-top: 15px;
    margin-left: 35px;
}

.img2{
    width: 70px;
    margin: 20px 10px 20px 30px;
    float: left;
}

.img3{
    width: 70px;
    margin: 40px 10px 0px -70px;
    float: left;
}

.text3{
    color: white;
    font-family: "segoe ui";
    font-size: 25px;
    margin-bottom: auto;
    margin-top: 40px
}

.text4{
    color: black;
    font-family: "segoe ui";
    font-size: 20px;
    margin-bottom: auto;
    text-align: justify;
}

#text5{
    color: black;
    font-family: "segoe ui";
    font-size: 20px;
    margin-bottom: auto;
    text-align: justify;
}

#text6{
    color: black;
    font-family: "segoe ui";
    font-size: 20px;
    margin-bottom: auto;
    text-align: justify;
}

#text7{
    color: black;
    font-family: "segoe ui";
    font-size: 20px;
    margin-bottom: auto;
    text-align: justify;
}

h2{
    color: black;
    font-family: "segoe ui";
    font-size: 30px;
    margin-bottom: auto;
}

@media only screen and (max-width:800px){
    /*Tablet Point of View*/
    .main{
        width: 80%;
        padding: 0;
    }
    .right {
        width: 100%;
    }
}

@media only screen and (max-width:500px){
    /*Mobile Phone Point of View*/
    .main, .right{
        width: 100%;
    }
}